@font-face {
    font-family: Roboto;
    src: url(/font/Roboto/Roboto-Regular.ttf);
}
/*FOCUS ON BTN*/
.btn:focus {
    outline: none !important;
}
.no-results-answer {
    text-align: center;
    color: #9da5ab;
    font-size: 15px;
}

/*ARROW IN INPUT*/
input[type=month]::-webkit-inner-spin-button,
input[type=month]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

input[type=date]::-webkit-inner-spin-button,
input[type=date]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

/*LOADER*/
.loader {
    border: 20px solid #e8e8e8;
    border-radius: 50%;
    border-top: 20px solid #3bdbac;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    position: fixed;
    top: 30vh;
    left: 46vw;
    z-index: 10000;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/*END LOADER*/
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}
.navbar-default .navbar-toggle {
    background-color: transparent;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: transparent;
}

/* STATISTIC MODAL */
.statistic-modal img {
    float: left;
}
.statistic-modal span {
    font-weight: bold;
}
.statistic-modal hr {
    margin-top: 0px;
    margin-bottom: 30px;
}
.modal-light {
    font-size: 20px;
    margin-left: 43px;
    color: #ffe591;
    line-height: 45px;
}
.modal-puls {
    font-size: 20px;
    margin-left: 43px;
    color: #e6797a;
    line-height: 45px;
}
.modal-activity {
    font-size: 20px;
    margin-left: 43px;
    color: #3bdbac;
    line-height: 45px;
}
.modal-phone {
    font-size: 20px;
    margin-left: 43px;
    color: #ffad34;
    line-height: 45px;
}
.nav-modal-stats {
    border:none;
}
.datepikcer-input {
    height: 36px;
    margin-right: 10px;
    border: #d0d5d9 1px solid;
}

/* NOTIFICATIONS MODAL */
.notifications-modal .system {
    margin-left: 20px;
    color: #b0bec5;
}
.notifications-modal .health {
    margin-left: 20px;
    color: #3fe8b7;
}
.notifications-modal p {
    margin-top: 15px;
}

/* checkbox start*/
div.sch_cal_column{
    float: left;
    width: 115px;
    margin-bottom: 10px;
}
div.sch_cal_row{
    width: 100px;
    height: 30px;
    background-color: #cfd8dc;
    border-radius: 20px;
}
div.sch_cal_row input {
    margin-top: 9px;
}
div.sch_cal_time {
    width: 75px;
    float: left;
    height: 30px;
    text-align: center;
    line-height: 30px;
}
div.sch_cal_time p {
    color: #fff;
    margin-bottom: 0px;
}
div.highlight {
    height: 46px;
    background-color: #3bdbac;
    border: solid 2px #3bdbac;
    border-radius: 20px;
}
div.highlight input {
    margin-top: 7px;
}
div.available {
    width: 100px;
    height: 46px;
    background-color: #A8A69C;
}
.checkbox label {
    padding-left: 0px;
    color: #9f9e9e;
}
.checkbox label:after,
.radio label:after {
    content: '';
    display: table;
    clear: both;
}
.checkbox .cr,
.radio .cr {
    position: relative;
    display: inline-block;
    border: 2px solid #d0d5d9;
    background: transparent;
    color: #d0d5d9;
    border-radius: 2px;
    width: 20px;
    height: 20px;
    float: left;
    margin-right: .5em;
}
.radio .cr {
    border-radius: 50%;
}
.checkbox .cr .cr-icon,
.radio .cr .cr-icon {
    position: absolute;
    font-size: .8em;
    line-height: 0;
    top: 50%;
    left: 20%;
}
.radio .cr .cr-icon {
    margin-left: 0.04em;
}

/* Checkbox */
.checkbox label input[type="checkbox"],
.radio label input[type="radio"] {
    display: none;
}
.checkbox label input[type="checkbox"] + .cr > .cr-icon,
.radio label input[type="radio"] + .cr > .cr-icon {
    transform: scale(3) rotateZ(-20deg);
    opacity: 0;
    transition: all .3s ease-in;
}
.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
.radio label input[type="radio"]:checked + .cr > .cr-icon {
    transform: scale(1) rotateZ(0deg);
    opacity: 1;
}
.check-box-forgot-pw  {
    max-width: 380px;
}
/*checkbox end*/

/*COLORS*/
.color-font-green {
    color: #c1f5e3 !important;
}
.color-font-white {
    color: #ffffff !important;
}
/*COLORS END*/

/*MENU LOGIN*/
.top-position-container {
    margin-top: 80px !important;
    margin-bottom: 80px;
}
.login-navbar {
    border: none;
    box-shadow: none;
    background: transparent;
}
.active-login a {
    color: #ffffff !important;
}
/*MENU LOGIN END*/

/*LOGIN*/
.login-content {
    margin-top:10vh;
}
.input-login input {
    background-color: #78ebc9;
    border: none;
    box-shadow: none;
    border-radius: 0;
    height:50px;
    color: #d8fcf2;
}
.input-login input:focus {
    border:none;
    box-shadow: none;
}
.login-btn {
    height: 50px;
    width: 100%;
    background-color: #ffffff;
    color: #3bdaac;
    border-radius: 0;
}
.login-btn:hover {
    color: #3bdaac;
}
/*LOGIN END*/

/*INPUT*/
.input-login input::-webkit-input-placeholder {
    color: #ffffff;
}
.input-login input:-moz-placeholder {
    color: #ffffff;
}
.input-login input::-moz-placeholder {
    color: #ffffff;
}
.input-login textarea {
    background-color: #78ebc9;
    border: none;
    box-shadow: none;
    border-radius: 0;
    color: #d8fcf2;
    max-width: 100%;
}
.input-login textarea:focus {
    border:none;
    box-shadow: none;
}
/*INPUT END*/

/*LOGED IN MENI*/
.active-logged-in a {
    border-bottom: 2px solid #3bdbac;
    color: #3bdbac !important;
}

/*HOME PAGE*/
.users-table-desc tbody tr td {
    max-width: 260px;
}
.name-avatar span:hover {
    color: #3bdbac;
    cursor: pointer;
}
.users-table {
    border-radius:4px;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(155, 141, 128, 0.88);
    -moz-box-shadow:    0px 0px 30px 0px rgba(155, 141, 128, 0.88);
    box-shadow:         0px 0px 30px 0px rgba(155, 141, 128, 0.88);
    padding: 20px;
}
.users-table {
    margin-top: 60px;
}
.users-table-desc thead tr th {
    color: #cfd8dc;
    font-size:12px;
}
.users-table h4 {
    color: #455a64;
    margin-bottom:20px;
}
.users-table-desc tbody tr {
    height:80px;
}
.users-table-desc tbody tr td {
    vertical-align: middle;
}
.users-table-desc tbody tr td img {
    margin-right: 14px;
}
.notification-btn-width {
    max-width: 100px;
}
.notification-btn {
    background-color: transparent;
    border: 1px solid #d0d5d9;
    color: #d0d5d9;
    border-radius:3px;
    height:36px;
}
.notification-btn:hover {
    background-color: #3bdbac;
    border: 1px solid transparent;
    color: #ffffff;
}
.notification-btn:focus {
    background-color: transparent;
    border: 1px solid #d0d5d9;
    color: #d0d5d9;
}
.chevron-icon {
    margin-top: 15px;
}
.single-user-table {
    margin-left:40px;
    max-width: 447px;
}
.single-stats {
    border:3px solid #eceff1;
    border-radius:8px;
    padding-top:20px;
    padding-bottom:20px;
}
.single-stats img {
    margin-bottom:10px;
}
.single-stats p {
    margin-bottom:4px;
}
.single-stats span {
    color: #d0d5d9;
    font-size: 12px;
}
.single-current-stats {
    margin-top:14px;
    border-radius:4px;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(77, 79, 79, 0.39);
    -moz-box-shadow:    0px 0px 8px 0px rgba(77, 79, 79, 0.39);
    box-shadow:         0px 0px 8px 0px rgba(77, 79, 79, 0.39);
    height:70px;
    padding:12px;
}
.number-stats p {
    color: #d0d5d9;
    float: right;
    margin-top: 10px;
}
.about-stats {
    padding-left: 20px;
}
.current-stats-title {
    color: #cfd8dc;
    margin-top:20px;
}
.analyzing-text {
    color: #3bdbac !important;
}
.phone-time img {
    width: 26px;
}
.phone-time-line img {
    width:80px;
}

/*MODAL NOTIFICATION*/
.notification-modal {
    border-radius: 0;
    padding: 10px;
}
.notification-modal-header {
    border-bottom: none;
}
.notification-modal-header h4 {
    color: #455a64;
}
.notification-modal-header h4 span {
    color: #cfd8dc;
}
.notification-textarea {
    max-width: 100%;
    margin-bottom: 20px;
}
.notification-textarea::-webkit-input-placeholder {
    color: #b0bec5;
}
.notification-textarea:-moz-placeholder {
    color: #b0bec5;
}
.notification-textarea::-moz-placeholder {
    color: #b0bec5;
}
.modal-btn {
    background-color: #3bdbac;
    border: 1px solid transparent;
    color: #ffffff;
}
.modal-btn:hover {
    background-color: #3bdbac;
    border: 1px solid transparent;
    color: #ffffff;
}
.modal-btn:focus {
    background-color: #3bdbac;
    border: 1px solid transparent;
    color: #ffffff;
}

/*INFORMATIONS PAGE*/
.collapse-informations {
    border-bottom: 1px solid #eceff1;
}
.title-informations h3 {
    border-bottom:1px solid #eceff1;
    padding-bottom: 20px;
}
.title-informations {
    padding-left: 20px;
    padding-right: 20px;
}
.collapse-text {
    border-bottom: none;
}
.collapse-text h4 {
    margin-bottom: 0px !important;
}
.collapse-informations a {
    text-decoration: none;
}
.collapse-informations a:hover {
    color: #3bdbac;
}

/*CONTACT*/
.contact-textarea::-webkit-input-placeholder {
    color: #ffffff;
}
.contact-textarea:-moz-placeholder {
    color: #ffffff;
}
.contact-textarea::-moz-placeholder {
    color: #ffffff;
}
/*END CONTACT*/

/*POCETNA*/
.home-font-color p {
    color: #c1f5e3;
    margin-bottom: 20px;
}
.home-font-color h1 {
    color: #fff;
    margin-bottom: 20px;
}
.home-font-color center h2 {
    color: #fff;
    margin-bottom: 40px;
    margin-top: 80px;
}
.login-home-page {
    max-width: 150px;
    margin-bottom: 20px;
    line-height: 36px;
}
/*POCETNA END*/

@media only screen and (max-width: 1200px) {
    .users-table {
        width:100%;
    }
    .single-user-table {
        max-width:100%;
        margin-left: 0px;
        margin-top:30px;
    }
    .statistic-avatar {
        text-align: right !important;
    }
    .watch-home-img img {
        width: 460px;
    }
}
@media only screen and (min-width: 1200px) {
    .single-stats {
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .single-stats img {
        width: 35px;
    }
}
@media only screen and (max-width: 767px) {
    .container {
        padding-left: 35px;
        padding-right: 35px;
    }
    .logo-brand img {
        width: 222px !important;
    }
}
@media only screen and (min-width: 1024px) {
    .login-page {
        margin-left: 30%;
        margin-right: 30%;
    }
}
@media only screen and (max-width: 992px) {
    .watch-home-img img {
        width: 550px;
    }
}
@media only screen and (max-width: 768px) {
    .login-page {
        margin-left: 15%;
        margin-right: 15%;
    }
    .top-position-container {
        margin-top: 0px !important;
    }
}
@media only screen and (max-width: 425px) {
    .login-page {
        margin-left: 0%;
        margin-right: 0%;
    }
    .navbar-brand img {
        width: 190px;
        margin-top: 4px;
    } 
}
@media only screen and (min-width: 768px) and (max-width: 1023px){
    .login-page {
        margin-left: 25%;
        margin-right: 25%;
    }
}
@media only screen and (max-width: 600px) {
    .container {
        padding-left: 35px;
        padding-right: 35px;
    }
    .logo-brand img {
        width: 222px !important;
    }
    .analyzing-text span {
        display: none;
    }
    .icon-arrow-responsive {
        display: none;
    }
    .watch-home-img img {
        width: 450px;
    }
}
@media only screen and (max-width: 460px) {
    .users-table-desc thead tr th {
        font-size: 10px;
    }
    .notification-btn-width button {
        width:110px;
        font-size:12px;
        padding:0;
    }
    .loader {
        left: 36vw;
    }
    .watch-home-img img {
        width: 300px;
    }
}
@media only screen and (max-width: 380px) {
    .analyzing-text span {
        display: none;
    }
    .name-avatar img {
        display: none;
    }
    .name-avatar {
        max-width: 20px !important;
    }
    .logo-brand img {
        width: 180px !important;
    }
    .users-table-desc thead tr th {
        font-size: 10px;
    }
    .notification-btn-width button {
        width:86px;
        font-size:10px;
        padding:0;
    }
    .single-stats {
        font-size:12px;
    }
}




