/*
* Copyright (c) 2015 Samsung Electronics Co., Ltd.
* All rights reserved.
*
* Redistribution and use in source and binary forms, with or without
* modification, are permitted provided that the following conditions are
* met:
*
* * Redistributions of source code must retain the above copyright
* notice, this list of conditions and the following disclaimer.
* * Redistributions in binary form must reproduce the above
* copyright notice, this list of conditions and the following disclaimer
* in the documentation and/or other materials provided with the
* distribution.
* * Neither the name of Samsung Electronics Co., Ltd. nor the names of its
* contributors may be used to endorse or promote products derived from
* this software without specific prior written permission.
*
* THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS
* "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT
* LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR
* A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT
* OWNER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL,
* SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT
* LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE,
* DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY
* THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
* (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
* OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
*/

* {
    font-family: Verdana, Lucida Sans, Arial, Helvetica, sans-serif;
}

body {
    margin: 0px auto;
    background-color: #37e6b5;
}
.home img {
	height: 40px;
	margin-right: 10px;
	margin-bottom: -10px;
}
.ui-btn {
	background-color: rgb(0,0,0,0) !important;
}
.activity li img {
	width: 70px;
	padding-top: 30px;
}
.left {
	width: 30%;
	float: left;
}
.right {
	width: 70%;
	height: 140px;
	text-align: left;
	padding-left: 10px;
}
.activity.expand-list li.li-has-3line.ui-snap-listview-selected .ui-marquee {
	margin-right: 0px;
	margin-bottom: 0px;
	margin-top: 10px;
}
.ui-page {
    background-position: 0,0,0,0;
    background-image: url("../img/bg-watch.png");
}
.ui-header .ui-title {
	color: #37e6b5;
	padding-top: 30px;
}
.ui-listview.ui-snap-listview .ui-li-sub-text {
	color: #37e6b5;
	margin-left: 3px;
	margin-top: -14px;
}
.ui-listview li .li-text-sub 
{
   margin-top 10px;
   display: block;
   text-overflow: ellipsis;
   overflow: hidden;
   line-height: 32px;
   color: #000;
}
.ui-listview li.li-has-3line 
{
   padding-top: 0;
   padding-bottom: 0;
   height: 60px;
}
.ui-listview.expand-list li.li-has-3line .ui-marquee
{
   -webkit-transform: translate3d(0, 30px, 0);
}

.ui-listview.expand-list li.li-has-3line.ui-snap-listview-selected .ui-marquee
{
   -webkit-transform: translate3d(0, 0, 0);
   -webkit-transition: all ease 1s;
}

.ui-listview.expand-list li.li-has-3line .ui-li-sub-text:nth-child(2)
{
   -webkit-transform: translate3d(0, -10px, 0);
   opacity: 0;
}

.ui-listview.expand-list li.li-has-3line.ui-snap-listview-selected .ui-li-sub-text:nth-child(2)
{
   -webkit-transform: translate3d(0, 0, 0);
   opacity: 1;
   -webkit-transition: all ease 1s;
}

.ui-listview.expand-list li.li-has-3line .ui-li-sub-text:last-child
{
   -webkit-transform: translate3d(0, -42px, 0);
   opacity: 0;
}
.ui-popup.ui-popup-toast {
	
	border-top: 3px solid rgb(0, 145, 104); ;
	border-bottom: 3px solid rgb(0, 145, 104); ;
	background-color: rgb(0, 43, 0);;
}
.ui-listview.expand-list li.li-has-3line.ui-snap-listview-selected .ui-li-sub-text:last-child
{
   -webkit-transform: translate3d(0, 0, 0);
   opacity: 1;
   -webkit-transition: all ease 1s;